@font-face {
    font-family: 'neoretrodrawregular';
    src: url("/assets/fonts/NEORD___-webfont.woff") format('woff');
}

body  {
    background: url("/assets/images/img_4622_3.jpg") no-repeat top right ;
    background-color: rgb(16,16,16);
    font-family: Tahoma sans-serif;
    font-size: 1rem;
}

.container {
    background-color: rgb(200,200,200);
}

.w-90 {
    width: 90%;
}

h1{
    font-family: "neoretrodrawregular";
    font-size: 5rem;
}

.carousel-caption {
    position: absolute;
    right: 10%;
    bottom: 0px;
    left: 10%;
    z-index: 10;
    color: #fff;
}

#nav {
    background-color: rgb(252,252,252);
}

h2 {
    background-color: rgb(62,62,62);
    border-radius: 10px;
    color: rgb(252,252,252);
    font-family: "neoretrodrawregular";
}

.other{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.partner-card .card-body{
    font-size: 0.9rem;
}

.partner-card .card-header{
    background-color: rgba(0, 0, 0, 0.1);
}

h4{
    background-color: rgb(252,252,252);
    border-radius: 10px;
}

.btn-outline-secondary {
    color: rgb(62,62,62);
    border-color: rgb(62,62,62);
}

.btn-outline-secondary:hover {
    background-color: rgb(62,62,62);
}

.btn-secondary {
    background-color: rgb(62,62,62);
}

.btn-secondary:hover {
    background-color: rgb(106,106,106);
}

table {
    border-collapse: separate;
    empty-cells: hide;
}

.table td,
.table th{
    border: 1px solid #839FB5;
}

td,
th {
    border: 1px solid #839FB5;
}

caption{
    caption-side: top;
    color: rgb(0, 204, 0);
}

/* button top bottom on layout */
#scrollUp {
    position: fixed;
    bottom: 50px;
    left: 2%;
    opacity: 0.8;
}

@media (max-width: 576px) {
    h1 {
        font-size: 2rem;
    }
    h2{
        font-size: 1.5rem;
    }
    card-body h4{
        font: 1.2rem;
    }
    h5 {
        font-size: 1.1rem;
    }
    .navbar-expand-md {
        position: fixed;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1030;
        background-color: rgb(252,252,252);
    }
}