{% extends '/admin/email/layout.html.twig' %}

{% block content %}
    <body>

    <table role="presentation" width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td>
                <table role="presentation" width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td align="center" height="25" style="height:25px; font-size: 0;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td align="left"><h1
                                    style="font-family: Helvetica, Arial, sans-serif; font-size: 28px; font-weight:normal; color: #2C3E50; margin:0; mso-line-height-rule:exactly;">
                                Bonjour {{ fullname }},</h1></td>
                    </tr>
                    <tr>
                        <td align="center" height="25" style="height:25px; font-size: 0;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td align="left"
                            style="font-family: Helvetica, Arial, sans-serif; font-size: 16px; line-height: 25px; color: #2C3E50;">
                            Il semblerait que vous ayez demander à modifier votre mot de passe. Veuillez cliquer sur le lien ci-dessous pour procéder au changement de votre mot de passe.<br>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td align="center" height="25" style="height:25px; font-size: 0;">&nbsp;</td>
        </tr>
        <tr>
            <td align="center">
                <table role="presentation" width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td align="center">
                            <table role="presentation" border="0" cellspacing="0" cellpadding="0"
                                   class="mobile-btn-container">
                                <tr>
                                    <td align="center" style="border-radius: 3px;" bgcolor="#0036B2"><a
                                                href="{{ url('change_password', {'token' : token}) }}"
                                                title="change password" target="_blank"
                                                style="font-family: Helvetica, Arial, sans-serif; font-size: 16px; color: #ffffff; text-decoration: none; border-radius: 3px; padding: 15px 25px; border: 1px solid #0036B2; display: inline-block;"
                                                class="mobile-btn">Modification de votre mot de passe &#187;</a></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

    </table>
    </body>
{% endblock %}



