    <!--info club-->
<div class="row justify-content-center">
    <section class="col-lg-12 text-center" id="info">
        <h2 class="mt-3 mb-3">Informations sur le club</h2>
        <div class="row">
            <!--Qui sommes-nous-->
            <div class="col-md-5">
                <h4 class="my-1 p-1 w-75 m-auto" id="club">Le club</h4>
                <p class="text-left p-2 m-2">Le club est une association loi 1901.<br>De Septembre à Juin, nous grimpons les mardi et jeudi de 18h à 22h à la salle Jean Boyer à La Côte.</p>
                <div class="embed-responsive embed-responsive-4by3">
                    <iframe class="embed-responsive-item rounded" src="http://umap.openstreetmap.fr/fr/map/escalade_220280#16/45.3887/5.2628"></iframe>
                </div>

                <p class="text-left p-2 m-2">Dès que les beaux jours sont là, nous en profitons pour aller grimper à l'extérieur principalement le samedi.</p>
                <div class="d-flex justify-content-center">
                    <a href="/contact" type="button" class="btn btn-secondary w-75 btn-lg">Contactez-nous</a>
                </div>
                <div class="d-flex justify-content-center my-2 mx-0" id="reglement">
                    <i class="fa fa-file-text" aria-hidden="true"><br><a href="doc/reglement_interieur%202017.pdf">Réglement intérieur 2017</a></i>
                </div>
            </div>

            <!--modalité inscrip-->
            <div class="col-md-7">
                <h4 class="my-1 p-1 w-75 m-auto" id="inscriptions">Modalités d'inscription</h4>
                <p class="text-left p-2 m-2"> Les inscriptions ou les renouvellements des licences se feront à la salle à partir de 19h sous la responsabilité du trésorier. Les documents à fournir sont :</p>
                <div class="row">
                    <div class="col-10 offset-1">
                        <ul class="text-left p-1 m-1">
                            <li>La fiche d’inscription. <span class="font-weight-bold">Nouveauté 2017</span> : on vous demande votre acceptation ou non de diffuser votre email et téléphone  aux autres membres du club afin de faciliter les échanges entre tous. </li>
                            <li>Un certificat médical. Il doit être fourni dans les plus brefs délais, le club se réserverait le droit d'interdiction au mur.<span class="font-weight-bold"> Nouveauté 2017</span> : Si votre  certificat médical a moins de 3 ans : il suffit de remplir le questionnaire de santé.  En effet le certificat médical est désormais valable 3 ans.</li>
                            <li>La fiche assurance (à remplir sur place).</li>
                            <li>Le chèque correspondant au prix de l'adhésion au club et licence ffme + assurance (aucune licence ne sera délivrée sans paiement).</li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 col-6">
                        <i class="fa fa-download" aria-hidden="true"><br><a href="doc/formulaire-inscription-saison-2017-2018.pdf">Formulaire d'inscription</a></i>
                    </div>
                    <div class="col-md-3 col-6">
                        <i class="fa fa-download" aria-hidden="true"><br><a href="doc/QS-SPORT_cerfa_15699%5B608%5D.pdf">Questionnaire de santé</a></i>
                    </div>
                    <div class="col-md-3 col-6">
                        <i class="fa fa-file" aria-hidden="true"><br><a href="doc/2018-notice-assurance.pdf">Notice assurance</a></i>
                    </div>
                    <div class="col-md-3 col-6">
                        <i class="fa fa-file" aria-hidden="true" data-toggle="modal" data-target="#Tarifs"><br><a href="#">Tableaux des tarifs</a></i>
                    </div>
                </div>

                <!-- Modal Tarifs-->    <div class="modal fade" id="Tarifs" tabindex="-1" role="dialog" aria-labelledby="ModalLabel2" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="ModalLabel2">Tarifs Saison 2017-2018</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            </div>
                            <!-- tableau tarifs-->              <div class="modal-body">
                                <table class="table table-responsive prices-table">
                                    <caption>Tarif Club et FFME en fonction de l'âge et de l'assurance choisie :</caption>
                                    <tr>
                                        <th class="text-center p-1"></th>
                                        <th class="text-center p-1">Adultes</th>
                                        <th class="text-center p-1">Jeunes</th>
                                        <th class="text-center p-1">Famille* (adulte)</th>
                                    </tr>
                                    <tr>
                                        <td class="text-center p-1">Sans assurance **</td>
                                        <td class="text-center p-1">89 &euro;</td>
                                        <td class="text-center p-1">56 &euro;</td>
                                        <td class="text-center p-1">65 &euro;</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center p-1">Assurance Base</td>
                                        <td class="text-center p-1">97 &euro;</td>
                                        <td class="text-center p-1">64 &euro;</td>
                                        <td class="text-center p-1">71 &euro;</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center p-1">Assurance Base+</td>
                                        <td class="text-center p-1">100 &euro;</td>
                                        <td class="text-center p-1">67 &euro;</td>
                                        <td class="text-center p-1">74 &euro;</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center p-1">Assurance Base++</td>
                                        <td class="text-center p-1">107 &euro;</td>
                                        <td class="text-center p-1">74 &euro;</td>
                                        <td class="text-center p-1">81 &euro;</td>
                                    </tr>
                                </table>
                                <table>
                                    <caption>Options facultatives :</caption>
                                    <tr>
                                        <th class="text-center p-1"></th>
                                        <th class="text-center p-1">Ski pistes</th>
                                        <th class="text-center p-1">Slackline</th>
                                        <th class="text-center p-1">Trail</th>
                                        <th class="text-center p-1">VTT</th>
                                    </tr>
                                    <tr>
                                        <td class="text-center p-1">Prix</td>
                                        <td class="text-center p-1">5 &euro;</td>
                                        <td class="text-center p-1">5 &euro;</td>
                                        <td class="text-center p-1">10 &euro;</td>
                                        <td class="text-center p-1">30 &euro;</td>
                                    </tr>
                                </table>
                                <p class="text-justify p-1 m-1">* tarif famille à partir de 3 personnes<br>** justificatif d'assurance personnel à fournir obligatoirement lors de l'inscription</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
