<footer class="text-center">
    <div class="container rounded">
        <hr>
        <p class="text-center p-1 m-1">&copy; Glace et Roc 2017 : toutes les photos présentes sur le site (sauf mentions contraires) sont la propriété exclusive du club.</p>
        <p class="text-center p-1 m-1">Site développé par Benoite Lallemand</p>
    </div>
</footer>