{% extends 'base.html.twig' %}

{% block body %}
    {% include 'default/header.html.twig' %}
    {% include 'default/nav.html.twig' %}

    <div class="container rounded">
        <div class="row justify-content-center">
            <section class="col-lg-9 text-center">

                {% if error %}
                    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                <form action="{{ path('login') }}" method="post">
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="_username" value="{{ last_username }}" /><br>

                    <label for="password">Password:</label>
                    <input type="password" id="password" name="_password" /><br>

                    {#
                        If you want to control the URL the user
                        is redirected to on success (more details below)
                        <input type="hidden" name="_target_path" value="/account" />
                    #}

                    <button class="btn btn-secondary" type="submit">login</button>
                </form>
            </section>
        </div>
    </div>

    {% include 'default/footer.html.twig' %}

    <div id="scrollUp">
        <a href="#top"><img src="/assets/images/to_top.png"/></a>
    </div>
{% endblock %}
