<header class="container rounded mt-4" id="header">
    <div class="row align-items-center">
        <div class="col-md-12 text-center">
            <h1>Glace &amp; Roc</h1>
            <hr>
            <h5 class="mt-4">Club d'escalade basé à La-Côte-Saint-André</h5>
        </div>
    </div>
</header>