{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-10 offset-1 col-md-6 offset-md-3">
                <h2 class="text-center mb-5">Modification du mot de passe</h2>
                <div class="row">
                    <div class="col-md-8 offset-md-2 col-12">
                        {{ form_start(form) }}
                        <div class="form-group ">
                            <div class="col-12 my-1 justify-content-center text-center">
                                {{ form_row(form.password) }}
                            </div>
                            <div class="col-12 mb-5 justify-content-center text-center">
                                <button type="submit" class="btn btn-primary AMO-button mt-4 mb-4" >Envoyer</button>
                            </div>
                        </div>
                        {{ form_end(form) }}
                    </div>
                    <a href="{{ path('climbers') }}" class="a-login text-center ml-2">Retour à l'accueil</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
