{% extends 'base.html.twig' %}

{% block body %}
    {% include 'default/header.html.twig' %}
    {% include 'default/nav.html.twig' %}

    <div class="container rounded">
        <div class="row justify-content-center">
            <section class="col-lg-9 text-center">
                    <h1 class="mt-3 mb-3 h1-back">Mon profil</h1>

                    <table class="table">
                        <tbody>
                        <tr>
                            <th>Email</th>
                            <td>{{ user.email }}</td>
                        </tr>
                        <tr>
                            <th>Login</th>
                            <td>{{ user.login }}</td>
                        </tr>
                        </tbody>
                    </table>

                    <ul>
                        <li>
                            <a href="{{ path('edit_climber', { 'id': user.id }) }}">modifier</a>
                        </li>
                    </ul>
            </section>
            {% include 'default/other.html.twig' %}
        </div>
    </div>

    {% include 'default/footer.html.twig' %}


{% endblock %}
