{% extends 'admin/base_admin.html.twig' %}

{% block section %}
    <h1>Création d'une nouvelle news</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Création" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('list_posts') }}">Revenir à la liste des news</a>
        </li>
    </ul>
{% endblock %}
